sudo: false

language: go
go:
  - 1.11
  - tip

install: true
env:
  - GO111MODULE=on

script:
  - go vet -x ./...
  - test -z "$(golint ./...)"
  - test -z "$(gofmt -s -l -w . | tee /dev/stderr)"
  - go test -v  ./...
  - go test -covermode=count -coverprofile=profile.cov
  - test -z "$(apicompat -before ${TRAVIS_COMMIT_RANGE%...*} -after ${TRAVIS_COMMIT_RANGE#*...} ./... | tee /dev/stderr)"

after_script:
  - goveralls -coverprofile=profile.cov -service=travis-ci
